@import '~antd/dist/antd.css';

.content-wrapper {
    height: 100vh;
    height: 100%;
}

.main-sidebar, .sidebar, .sidebar-menu {
    height: 100vh;
    height: 100%;
}

.berita {
    font-family: 'Noto Serif', serif;
}